td {
    height: 20px;
    width: 20px;
    border: 2px black solid;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
}

#tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}